<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/chatStyleSheet.css">
    <script src="../static/js/chatController.js" defer></script>
    <title>Chat</title>
</head>
<body>
    <h1 id="header">youre talking to</h1>
    <div class="container">
        <div id="areabox" class="messagesAreaBox"></div>
        <div id="inputs"class="input-container">
            <textarea id="msgbox" class="userInputMessage" placeholder="Type your message here..." oninput="autoResize(this)"></textarea>
            <button id="send" class="sendButton" onclick="sendMessage()">Send</button>
        </div>
    </div>
    <div class = "miscellaneous" >
        <button id="dark_mode" onclick="darkMode()">Dark Mode</button>
    </div>
</body>
</html>